@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
	box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: #fceed1;
}

nav{
    background-color: azure;
}

form{
    position: relative;
    border-radius: 10px;
    padding: 30px 40px;
	margin-left: 10px;
    margin-right: 10px;

}

a{
    justify-self: right;
}

#New_Project{
    font-size: 36px;
}

